<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Detalle del anuncio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body class="bg-light">

    <div class="container d-flex align-items-center justify-content-center mt-5">
        <div class="row mt-5 border border-2 border-primary-subtle rounded-3">
            <div class="col-12 p-5">
                <h1 class="mb-4 text-center">Detalles del anuncio</h1>
                <p><strong>ID:</strong> <span th:text="${anuncio.id}"></span></p>
                <p><strong>Nombre:</strong> <span th:text="${anuncio.nombre}"></span></p>
                <p><strong>Asunto:</strong> <span th:text="${anuncio.asunto}"></span></p>
                <p><strong>Descripción:</strong> <span th:text="${anuncio.descripcion}"></span></p>
                <div class="text-center">
                    <a class="btn btn-success text-center" th:href="@{/anuncios}">Volver a la lista de anuncios</a>
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>


